{% extends "app/layout.html" %}
{% load static %}

<head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    </head>


{% block content %}
 
	
		

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg m-t-75">
			<a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Главная
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Корзина
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Продукт</th>
									<th class="column-2"></th>
									<th class="column-3">Цена за шт</th>
									<th class="column-4">Кол-во</th>
									<th class="column-5">Итог</th>
                                    <th class="column-6">Удалить</th>
								</tr>
                                {% for item in cart %}
                                    {% with product=item.product %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<a href="{{ product.get_absolute_url }}">
											<img src="{% if product.image1 %}{{ product.image1.url }}{% else %}{% static 'content/no_image.png' %}{% endif %}">
                                            </a>
										</div>
									</td>
									<td class="column-2">{{ product.name }}</td>
									<td class="column-3">{{ item.price }} руб.</td>
									<td class="column-4">
										{{item.quantity}}
									</td>
									<td class="column-5">{{ item.total_price }} руб.</td>
                                    <td class="column-6" ><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
								</tr>
                                {% endwith %}
                                {% endfor %}
								
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Применить купон
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Обновить
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							-----------------------------------------------------
						</h4>

						

						

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-109 cl2 p-b-30">
									К оплате:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-109 cl2 p-b-30">
									{{ cart.get_total_price }} руб. 
								</span>
							</div>
						</div>

                        <h4 class="mtext-109 cl2 p-b-30">
							-----------------------------------------------------
						</h4>

						<a href="{% url "orders:order_create" %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Продолжить
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>



{% endblock %}