{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92 m-t-80" style="background-image: url('static/app/content/site/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			О нас
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Кто же мы такие?
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Компания «phone-store» — российская сеть магазинов по продаже смартфонов. 
«Phone-Store» – двухкратный лауреат премии «Права потребителей и качество обслуживания».

В 2010 году компания «Эльдорадо» была удостоена ряда отраслевых наград, таких как EMEA Channel Academy: «Ритейлер года в регионе РФ & СНГ»; премии в номинации «Лучшие цены», организованной экспертным проектом Hi-Tech.Mail.Ru, а также Online Retail Russia Awards в номинации «Лучший интернет-магазин» (2010, 2019), обладатель премии Russian Retail Awards 2016, двукратный обладатель премии EMEA Channel Academy: «Ритейлер года в регионе РФ & СНГ» (2015, 2016), а также обладатель приза зрительских симпатий конкурса АКМР «Лучшее корпоративное видео 2016».

На данный момент количество успешный продаж «Phone-Store» составляет более 250 000 единиц товара.

Стратегическое партнерство с ведущими международными производителями позволяет клиентам «Phone-Store» в числе первых узнавать о впечатляющих инновациях и получать эксклюзивные новинки.


						</p>

						

						<p class="stext-113 cl6 p-b-26">
							Остались вопросы? Звоните по телефону +7 900 9902336 или пишие на почту <a href="#">phone-store.gmail.com</a>
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'app/content/site/images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</section>	
	
		

	
	


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>



		
		
{% endblock %}
